.box {
  display: flex;
  background-color: white;
  height: 91vh;
  flex-basis: 100vh;
  flex: 1;
  box-shadow: -10px 8px 25px #05386b;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.box-container {
  display: flex;
  flex-basis: 100vh;
  flex: 1;
}
body {
  background-color: #8ee4aa;
  padding: 3vh;
}
