.box {
  display: flex;
  background-color: blue;
  height: 90vh;
  flex-basis: 100vh;
  flex: 1;
}
.box-container {
  display: flex;
  padding: 3vh;
}
body {
  background-color: orange;
}
