body {
  background-color: #181818;
}
.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  height: 15vh;
  max-height: 100px;
  min-height: 50px;
  width: 100%;
  color: white;
}
.intro {
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 100%;
  min-height: 300px;
  color: white;

  justify-content: center;
  align-items: center;
}
.intro img {
  height: 130px;
  width: 130px;
  border-radius: 130px;
}
.bottom1 {
  display: flex;
  width: 100%;
  color: white;
  justify-content: center;
  align-items: flex-end;
}
