.navigation {
  display: flex;
  flex-direction: row;
  flex-basis: 5px;
  flex-wrap: wrap;
  background-color: white;
  width: auto;
}
.logo {
  display: flex;
  flex: 1;
}
.options {
  display: flex;
  flex: 1;
}
.link {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-left: auto;
  list-style-type: none;
  text-decoration: none;
  color: grey;
}
li {
  margin-left: 5px;
}
