.navigation {
  display: flex;
  flex-direction: row;
  flex-basis: 5px;
  flex-wrap: wrap;
  background-color: #05386b;
  color: white;
  text-shadow: 1.6px 1.6px black;
  font-family: "Courier New";
  font-size: 18px;
}
.logo {
  display: flex;
  flex: 1;
  margin-left: 25px;
}
.options {
  display: flex;
  flex: 1;
  margin-right: 7px;
}
.link {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-left: auto;
  list-style-type: none;
  text-decoration: none;
  color: white;
}
li {
  margin-left: 10px;
}
